@model GTL.Application.UseCases.Users.UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.User.Id" />
            <div class="form-group">
                <label asp-for="@Model.User.Name" class="control-label"></label>
                <input asp-for="@Model.User.Name" class="form-control" />
                <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.City" class="control-label"></label>
                <input asp-for="@Model.User.City" class="form-control" />
                <span asp-validation-for="@Model.User.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.ZipCode" class="control-label"></label>
                <input asp-for="@Model.User.ZipCode" class="form-control" />
                <span asp-validation-for="@Model.User.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}