@model GTL.Application.ViewModels.UserListViewModel

@{
    ViewData["Title"] = "Home Page";
}

@{
    if (ViewBag.Status != null)
    {
        Status model = ViewBag.Status as Status;
        <partial name="_StatusMessage" model="model" />
    }
}

<p>
    <a asp-controller="Home" asp-action="Create">Create New</a>
</p>

<div>
    <form asp-action="CreateLoan" asp-controller="Loan">
        <button class="btn btn-info"> Create Loan</button>
    </form>
</div>

<div>
    <form asp-action="ReturnLoan" asp-controller="Loan">
        <button class="btn btn-info"> Return Loan</button>
    </form>
</div>
<div>
    <form asp-action="CreateLoanerCard" asp-controller="User" method="post">
        <input type="text" name="ssn" value="123" hidden />
        <button class="btn btn-info"> Create Loanercard</button>
    </form>
</div>

<a asp-action="Create" asp-controller="Member">Create new member</a>

<div>
    <a asp-controller="Material" asp-action="Create">Create Material</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.ZipCode)
                </td>
                <td>

                    @if (Model.EditEnabled)
                    {
                        <a asp-action="Edit" asp-route-id="@user.Id">Edit |</a>
                    }
                    <a asp-action="Details" asp-route-id="@user.Id">Details</a>

                    @if (Model.DeleteEnabled)
                    {
                        <a asp-action="Delete" asp-route-id="@user.Id" method="post">| Delete</a>
                    }

                </td>
            </tr>
        }

    </tbody>
</table>
